# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/Library/
/Logs/
/Temp/
/UserSettings/
/Obj/
/Build/
/Builds/
/Captures/
/Assets/Scalable Grid Prototype Materials/
/Assets/Scalable Grid Prototype Materials.meta

# Visual Studio
.vscode/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.ide
*.editorconfig

# Cache
.DS_Store
Thumbs.db